*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
*.c linguist-vendored
*.hpp linguist-vendored
*.cmake linguist-vendored
*.ruby linguist-vendored
*.swift linguist-vendored
*.html linguist-vendored
*.kt linguist-vendored
